@media (min-width: 576px) {
	.header {
		.nav {
			padding: 2em 3em;

			&__links a {
				font-size: 1.4rem;
			}
		}

		.block {
			width: 500px;
		}
	}

	.footer {
		padding-left: 3em;
	}
}

@media (min-width: 768px) {
	.header .nav__links a {
		margin-left: 2em;
	}

	.main {
		.productive {
			max-width: 500px;

			&__img {
				width: 350px;
			}
		}
	}
}
